body {
    font-family: 'Oswald', sans-serif;
    background-image: url(background2.jpg);
    background-repeat: no-repeat;    
    background-color: #78b8e6;
}

#input-area {
    width: 60%;
    float: left;
    margin: 0;
}

.container {
    padding: 30px;
    margin-top: 20px;
}

#submit {
    clear: both;
}

h1 {
    text-shadow: black 2px 2px;
    color: white
}

h5 {
    color: white;
    text-shadow: black 2px 2px;
}

p {
    color: white;
}

img {
    border: 5px solid white;
}
