body {
    font-family: 'Oswald', sans-serif;
    background-image: url(background2.jpg);
    background-repeat: no-repeat;    
    background-color: #78b8e6;
}

#input-area {
    width: 60%;
    float: left;
    margin: 0;
    position: relative;
    box-shadow: 2px 2px black;

}

.container {
    padding: 30px;
    margin-top: 20px;
}

#submit {
    clear: both;
    position: relative;
    box-shadow: 2px 2px black;
}

h1 {
    text-shadow: 2px 2px 2px black; 
    color: white
}

h5 {
    color: white;
    text-shadow: 2px 2px 2px black; 
}

p {
    color: white;
}

img {
    border: 5px solid white;
    position: relative;
    box-shadow: 3px 3px black;
}

.advButtons {
    position: relative;
    box-shadow: 2px 2px black;
    border-radius: 5px;
    margin: 2px;
}
